In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('co2_emissions (1).csv',sep=';')
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS,Z,12.1,8.7,10.6,27,244

In [3]:
df.shape

(7385, 12)

In [4]:
df['make']=df['make'].apply(lambda x:x.lower())

In [5]:
cat_col=[]
for i in df.columns:
  if df[i].dtype == 'object':
    cat_col.append(i)

In [6]:
cat_col

['make', 'model', 'vehicle_class', 'transmission', 'fuel_type']

In [7]:
for i in cat_col:
  df[i]=df[i].apply(lambda x:x.lower())

In [8]:
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,acura,ilx,compact,2.0,4,as,z,9.9,6.7,8.5,33,196
1,acura,ilx,compact,2.4,4,m,z,11.2,7.7,9.6,29,221
2,acura,ilx hybrid,compact,1.5,4,av,z,6.0,5.8,5.9,48,136
3,acura,mdx 4wd,suv - small,3.5,6,as,z,12.7,9.1,11.1,25,255
4,acura,rdx awd,suv - small,3.5,6,as,z,12.1,8.7,10.6,27,244

In [9]:
df[df.duplicated()]

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
1075,acura,rdx awd,suv - small,3.5,6,as,z,12.1,8.7,10.6,27,244
1076,acura,rlx,mid-size,3.5,6,as,z,11.9,7.7,10.0,28,230
1081,alfa romeo,4c,two-seater,1.8,4,am,z,9.7,6.9,8.4,34,193
1082,aston martin,db9,minicompact,5.9,12,a,z,18.0,12.6,15.6,18,359
1084,aston martin,v8 vantage,two-seater,4.7,8,am,z,17.4,11.3,14.7,19,338
...,...,...,...,...,...,...,...,...,...,...,...,...
7356,toyota,tundra,pickup truck - standard,5.7,8,as,x,17.7,13.6,15.9,18,371
7365,volkswagen,golf gti,compact,2.0,4,m,x,9.8,7.3,8.7,32,203
7366,volkswagen,jetta,compact,1.4,4,as,x,7.8,5.9,7.0,40,162
7367,volkswagen,jetta,compact,1.4,4,m,x,7.9,5.9,7.0,40,163
7368,volkswagen,jetta gli,compact,2.0,4,am,x,9.3,7.2,8.4,34,196

In [10]:
df.duplicated().sum()

1404

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.shape

(5981, 12)

In [13]:
df.duplicated().sum()

0

In [15]:
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,acura,ilx,compact,2.0,4,as,z,9.9,6.7,8.5,33,196
1,acura,ilx,compact,2.4,4,m,z,11.2,7.7,9.6,29,221
2,acura,ilx hybrid,compact,1.5,4,av,z,6.0,5.8,5.9,48,136
3,acura,mdx 4wd,suv - small,3.5,6,as,z,12.7,9.1,11.1,25,255
4,acura,rdx awd,suv - small,3.5,6,as,z,12.1,8.7,10.6,27,244

In [17]:
df.corr()['co2_emissions']

engine_size                       0.854631
cylinders                         0.835089
fuel_consumption_city             0.916349
fuel_consumption_hwy              0.880948
fuel_consumption_comb(l/100km)    0.914298
fuel_consumption_comb(mpg)       -0.907149
co2_emissions                     1.000000
Name: co2_emissions, dtype: float64

In [21]:
df1=pd.get_dummies(data=df,columns=['transmission','fuel_type'])

In [22]:
df1.head()

,make,model,vehicle_class,engine_size,cylinders,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions,transmission_a,transmission_am,transmission_as,transmission_av,transmission_m,fuel_type_d,fuel_type_e,fuel_type_n,fuel_type_x,fuel_type_z
0,acura,ilx,compact,2.0,4,9.9,6.7,8.5,33,196,0,0,1,0,0,0,0,0,0,1
1,acura,ilx,compact,2.4,4,11.2,7.7,9.6,29,221,0,0,0,0,1,0,0,0,0,1
2,acura,ilx hybrid,compact,1.5,4,6.0,5.8,5.9,48,136,0,0,0,1,0,0,0,0,0,1
3,acura,mdx 4wd,suv - small,3.5,6,12.7,9.1,11.1,25,255,0,0,1,0,0,0,0,0,0,1
4,acura,rdx awd,suv - small,3.5,6,12.1,8.7,10.6,27,244,0,0,1,0,0,0,0,0,0,1

In [24]:
x=df1.drop('co2_emissions',axis=1)
y=df1['co2_emissions']

In [32]:
x=df1.drop(['make','model','vehicle_class'],axis=1)

In [33]:
x.head()

,engine_size,cylinders,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions,transmission_a,transmission_am,transmission_as,transmission_av,transmission_m,fuel_type_d,fuel_type_e,fuel_type_n,fuel_type_x,fuel_type_z
0,2.0,4,9.9,6.7,8.5,33,196,0,0,1,0,0,0,0,0,0,1
1,2.4,4,11.2,7.7,9.6,29,221,0,0,0,0,1,0,0,0,0,1
2,1.5,4,6.0,5.8,5.9,48,136,0,0,0,1,0,0,0,0,0,1
3,3.5,6,12.7,9.1,11.1,25,255,0,0,1,0,0,0,0,0,0,1
4,3.5,6,12.1,8.7,10.6,27,244,0,0,1,0,0,0,0,0,0,1

In [ ]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor,ExtraTreesRegressor
from xgboost import XGBRegressor

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [35]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()

x_train_scaled=scaler.fit_transform(X_train)
x_test_scaled=scaler.transform(X_test)

In [36]:
x_train_scaled.shape,x_test_scaled.shape

((4784, 17), (1197, 17))

In [37]:
from sklearn.metrics import r2_score

In [38]:
le=LinearRegression()
le.fit(x_train_scaled,y_train)
le_pred=le.predict(x_test_scaled)
le_acc=r2_score(y_test,le_pred)
print('LinearRegression :',le_acc)

LinearRegression : 0.9999494132958904

In [40]:
r=Ridge()
r.fit(x_train_scaled,y_train)
r_pred=r.predict(x_test_scaled)
r_acc=r2_score(y_test,r_pred)
print('Ridge :',r_acc)

Ridge : 0.9978659581626154

In [41]:
l=Lasso()
l.fit(x_train_scaled,y_train)
l_pred=l.predict(x_test_scaled)
l_acc=r2_score(y_test,l_pred)
print('Lasso :',l_acc)

Lasso : 0.9851340951702219

In [39]:
svr=SVR()
svr.fit(x_train_scaled,y_train)
svr_pred=svr.predict(x_test_scaled)
svr_acc=r2_score(y_test,svr_pred)
print('SVR :',svr_acc)

SVR : 0.9456701468651761

In [43]:
dt=DecisionTreeRegressor()
dt.fit(x_train_scaled,y_train)
dt_pred=dt.predict(x_test_scaled)
dt_acc=r2_score(y_test,dt_pred)
print('DecisionTreeRegressor :',dt_acc)

DecisionTreeRegressor : 0.9999876559141084

In [44]:
knn=KNeighborsRegressor()
knn.fit(x_train_scaled,y_train)
knn_pred=knn.predict(x_test_scaled)
knn_acc=r2_score(y_test,knn_pred)
print('KNeighborsRegressor :',knn_acc)

KNeighborsRegressor : 0.9924938372959505

In [45]:
rf=RandomForestRegressor()
rf.fit(x_train_scaled,y_train)
rf_pred=rf.predict(x_test_scaled)
rf_acc=r2_score(y_test,rf_pred)
print('RandomForestRegressor :',rf_acc)

RandomForestRegressor : 0.9999832565545089

In [46]:
gb=GradientBoostingRegressor()
gb.fit(x_train_scaled,y_train)
gb_pred=gb.predict(x_test_scaled)
gb_acc=r2_score(y_test,gb_pred)
print('GradientBoostingRegressor :',gb_acc)

GradientBoostingRegressor : 0.9999238880824778

In [48]:
ab=AdaBoostRegressor()
ab.fit(x_train_scaled,y_train)
ab_pred=ab.predict(x_test_scaled)
ab_acc=r2_score(y_test,ab_pred)
print('AdaBoostRegressor :',ab_acc)

AdaBoostRegressor : 0.9931346510393536

In [49]:
et=ExtraTreesRegressor()
et.fit(x_train_scaled,y_train)
et_pred=et.predict(x_test_scaled)
et_acc=r2_score(y_test,et_pred)
print('ExtraTreesRegressor :',et_acc)

ExtraTreesRegressor : 0.9991074580377302

In [50]:

xgb=XGBRegressor()
xgb.fit(x_train_scaled,y_train)
xgb_pred=xgb.predict(x_test_scaled)
xgb_acc=r2_score(y_test,xgb_pred)
print('XGBRegressor :',xgb_acc)

[12:25:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
XGBRegressor : 0.9999000417843225

In [51]:
accuracy=pd.Series([le_acc,r_acc,l_acc,svr_acc,dt_acc,knn_acc,rf_acc,gb_acc,ab_acc,et_acc,xgb_acc])
models=pd.Series(['LinearRegression','Ridge','Lasso','SVR','DecisionTreeRegressor','KNeighborsRegressor','RandomForestRegressor','GradientBoostingRegressor ','AdaBoostRegressor','ExtraTreesRegressor','XGBRegressor'])
data={'Model':models,'Accuracy':accuracy}
accuracy_df=pd.DataFrame(data)
accuracy_df

                         Model  Accuracy
0             LinearRegression  0.999949
1                        Ridge  0.997866
2                        Lasso  0.985134
3                          SVR  0.945670
4        DecisionTreeRegressor  0.999988
5          KNeighborsRegressor  0.992494
6        RandomForestRegressor  0.999983
7   GradientBoostingRegressor   0.999924
8            AdaBoostRegressor  0.993135
9          ExtraTreesRegressor  0.999107
10                XGBRegressor  0.999900

In [53]:
accuracy_df.sort_values(by='Accuracy',ascending=False)

                         Model  Accuracy
4        DecisionTreeRegressor  0.999988
6        RandomForestRegressor  0.999983
0             LinearRegression  0.999949
7   GradientBoostingRegressor   0.999924
10                XGBRegressor  0.999900
9          ExtraTreesRegressor  0.999107
1                        Ridge  0.997866
8            AdaBoostRegressor  0.993135
5          KNeighborsRegressor  0.992494
2                        Lasso  0.985134
3                          SVR  0.945670

In [57]:
from sklearn.model_selection import cross_val_score
import numpy as np

In [56]:
X_transformed=scaler.fit_transform(x)

In [60]:
# accuracy=pd.Series([le_acc,r_acc,l_acc,svr_acc,dt_acc,knn_acc,rf_acc,gb_acc,ab_acc,et_acc,xgb_acc])
# models=pd.Series(['LinearRegression','Ridge','Lasso','SVR','DecisionTreeRegressor','KNeighborsRegressor','RandomForestRegressor','GradientBoostingRegressor ','AdaBoostRegressor','ExtraTreesRegressor','XGBRegressor'])

print("LinearRegression",np.mean(cross_val_score(r,X_transformed,y,scoring='accuracy',cv=10)))

LinearRegression nan

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:774: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 761, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 103, in __call__
    score = scorer._score(cached_call, estimator, *args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 211, in accuracy_score
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,