<a href="https://colab.research.google.com/github/pks98/Project/blob/main/Final_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('co2_emissions (1).csv',sep=';')
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS,Z,12.1,8.7,10.6,27,244

In [6]:
df.shape

(7385, 12)

In [8]:
cat_col=[]
for i in df.columns:
  if df[i].dtype == 'object':
    cat_col.append(i)
cat_col

['make', 'model', 'vehicle_class', 'transmission', 'fuel_type']

In [9]:
for i in cat_col:
  df[i]=df[i].apply(lambda x:x.lower())

In [10]:
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,acura,ilx,compact,2.0,4,as,z,9.9,6.7,8.5,33,196
1,acura,ilx,compact,2.4,4,m,z,11.2,7.7,9.6,29,221
2,acura,ilx hybrid,compact,1.5,4,av,z,6.0,5.8,5.9,48,136
3,acura,mdx 4wd,suv - small,3.5,6,as,z,12.7,9.1,11.1,25,255
4,acura,rdx awd,suv - small,3.5,6,as,z,12.1,8.7,10.6,27,244

In [20]:
df.drop(['make','model','vehicle_class'],axis=1,inplace=True)

In [11]:
df.drop_duplicates(inplace=True) 
df.shape

(5981, 12)

In [15]:
df['transmission'].value_counts()

as    2633
a     1467
m      955
am     501
av     425
Name: transmission, dtype: int64

In [17]:
df['fuel_type'].value_counts()

x    2869
z    2640
e     325
d     146
n       1
Name: fuel_type, dtype: int64

In [ ]:
#transmission, "A" for`Automatic', "AM" for ``Automated manual', "AS" for 'Automatic with select shift', "AV" for 'Continuously variable', "M" for 'Manual'.
#fuel_type, "X" for 'Regular gasoline', "Z" for 'Premium gasoline', "D" for 'Diesel', "E" for 'Ethanol (E85)', "N" for 'Natural gas'.

In [18]:
df['transmission']=df['transmission'].map({"a":"Automatic",'am':'Automated manual','as':'Automatic with select shift','av':'Continuously variable','m':'Manual'})
df['fuel_type']=df['fuel_type'].map({"x":"Regular gasoline",'z':'Premium gasoline','d':'Diesel','e':'Ethanol (E85)','n':'Natural gas'})

In [21]:
df.head()

,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,2.0,4,Automatic with select shift,Premium gasoline,9.9,6.7,8.5,33,196
1,2.4,4,Manual,Premium gasoline,11.2,7.7,9.6,29,221
2,1.5,4,Continuously variable,Premium gasoline,6.0,5.8,5.9,48,136
3,3.5,6,Automatic with select shift,Premium gasoline,12.7,9.1,11.1,25,255
4,3.5,6,Automatic with select shift,Premium gasoline,12.1,8.7,10.6,27,244

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5981 entries, 0 to 7384
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   engine_size                     5981 non-null   float64
 1   cylinders                       5981 non-null   int64
 2   transmission                    5981 non-null   object
 3   fuel_type                       5981 non-null   object
 4   fuel_consumption_city           5981 non-null   float64
 5   fuel_consumption_hwy            5981 non-null   float64
 6   fuel_consumption_comb(l/100km)  5981 non-null   float64
 7   fuel_consumption_comb(mpg)      5981 non-null   int64
 8   co2_emissions                   5981 non-null   int64
dtypes: float64(4), int64(3), object(2)
memory usage: 467.3+ KB

In [53]:
df.corr()['co2_emissions']

engine_size                       0.854631
cylinders                         0.835089
fuel_consumption_city             0.916349
fuel_consumption_hwy              0.880948
fuel_consumption_comb(l/100km)    0.914298
fuel_consumption_comb(mpg)       -0.907149
co2_emissions                     1.000000
Name: co2_emissions, dtype: float64

In [54]:
df.drop('fuel_consumption_comb(mpg)',axis=1,inplace=True)

In [55]:
df.head()

,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),co2_emissions
0,2.0,4,Automatic with select shift,Premium gasoline,9.9,6.7,8.5,196
1,2.4,4,Manual,Premium gasoline,11.2,7.7,9.6,221
2,1.5,4,Continuously variable,Premium gasoline,6.0,5.8,5.9,136
3,3.5,6,Automatic with select shift,Premium gasoline,12.7,9.1,11.1,255
4,3.5,6,Automatic with select shift,Premium gasoline,12.1,8.7,10.6,244

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score

In [56]:
x=df.drop('co2_emissions',axis=1)
y=df['co2_emissions']

In [57]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [58]:
#OneHotEncoder on categorical column
p1=ColumnTransformer(transformers=[
                         ('t1',OneHotEncoder(drop='first',sparse=False),[2,3]),
                                 
],remainder='passthrough')


#MinMaxScaler on all the columns
# p2=ColumnTransformer(transformers=[
#                          ('t2',MinMaxScaler(),slice(0,10))  ,
# ],remainder='passthrough')


#model
p3=GradientBoostingRegressor()

#Creating pipeline
pipe=Pipeline([
               ('p1',p1),
              #  ('p2',p2),
               ('p3',p3)
])

#Model training and finding the accuracy
pipe.fit(x_train,y_train)
pred=pipe.predict(x_test)
GB_acc=r2_score(y_test,pred)
print('GB Accuracy ',GB_acc)

GB Accuracy  0.9943550499835685

In [59]:
import pickle

pickle.dump(df,open('df.pkl','wb'))
pickle.dump(pipe,open('pipe.pkl','wb'))

In [60]:
df.columns

Index(['engine_size', 'cylinders', 'transmission', 'fuel_type',
       'fuel_consumption_city', 'fuel_consumption_hwy',
       'fuel_consumption_comb(l/100km)', 'co2_emissions'],
      dtype='object')

In [43]:
df['cylinders'].unique().sort()

In [48]:
sorted(df['cylinders'].unique().tolist())

[3, 4, 5, 6, 8, 10, 12, 16]

In [50]:
sorted(df['transmission'].unique())

['Automated manual',
 'Automatic',
 'Automatic with select shift',
 'Continuously variable',
 'Manual']

In [61]:
df

,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),co2_emissions
0,2.0,4,Automatic with select shift,Premium gasoline,9.9,6.7,8.5,196
1,2.4,4,Manual,Premium gasoline,11.2,7.7,9.6,221
2,1.5,4,Continuously variable,Premium gasoline,6.0,5.8,5.9,136
3,3.5,6,Automatic with select shift,Premium gasoline,12.7,9.1,11.1,255
4,3.5,6,Automatic with select shift,Premium gasoline,12.1,8.7,10.6,244
...,...,...,...,...,...,...,...,...
7380,2.0,4,Automatic with select shift,Premium gasoline,10.7,7.7,9.4,219
7381,2.0,4,Automatic with select shift,Premium gasoline,11.2,8.3,9.9,232
7382,2.0,4,Automatic with select shift,Premium gasoline,11.7,8.6,10.3,240
7383,2.0,4,Automatic with select shift,Premium gasoline,11.2,8.3,9.9,232
7384,2.0,4,Automatic with select shift,Premium gasoline,12.2,8.7,10.7,248